<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    Nisome
  </title>
</head>

<body>
  <h1>
    Nisome
  </h1>
  <div class="image-upload">
    <label for="file-input">
      <img id="file-input-label" src="/images/cameraIcon.png" width="100px" height="100px" />
    </label>

    <input id="file-input" type="file" onchange="encodeImageFileAsURL(this)" />

    <img id="previewImg" src="#" style="visibility:hidden;">

    <div id="displayText">
    </div>

    <div class="playArea">
      <audio id="myAudioElement" controls="controls" />
    </div>

    <img style="display: none;" id="playButton" width="50px" height="50px" src="/images/playIcon.png" alt="play">

  </div>

  <script src="/js/magic.js"></script>
</body>

</html>